h1 {
  color: #333;
}
form input {
  margin: auto;
  height: 30px;
  padding: 0 10px !important;
  width: 60% !important;
  font-size: 1.3rem !important;
}

form label {
  margin-left: 21%;
  font-size: 1.5rem;
  color: #333;
}
small {
  margin-left: 21% !important;
}
.button {
  width: 80%;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgb(45, 171, 45);
  border-radius: 1000px;
  transition: all 0.31s;
}

.button:hover {
  background-color: green;
  transform: translateY(-4px);
  box-shadow: 1px 5px 5px rgba(51, 51, 51, 0.339);
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div:has(label) {
  width: 100%;
}
