main {
  background: #333;
  display: grid;
  width: 90vw;
  height: 100%;
  grid-template-areas:
    'movies form weather'
    'movies  map weather';
  gap: 20px;
}

.form {
  grid-area: form;
  width: 30vw;
  min-height: 40vh;
}

.map {
  grid-area: map;
  width: 30vw;
}

.weather {
  grid-area: weather;
  width: 30vw;
  min-height: 80vh;
}

.movies {
  grid-area: movies;
  width: 30vw;
  min-height: 80vh;
}

.card {
  min-height: 30vh;
  height: 100%;
}

@media (min-width: 766) {
  main {
    background: #333;
    display: grid;
    width: 90vw;
    height: 100%;
    grid-template-areas:
      'movies form'
      'movies  map'
      'weather weather'
      'weather weather';
  }
}
